header {
  border-bottom: 1px solid #e6e0f4;
  padding: 0 0 30px 0;
}

body {
  background-color: #e6e0f4;
  font-family: "Diphylleia", serif;
}

main {
  padding: 30px;
}

a {
  color: #000000;
}

footer {
  border-top: 1px solid #e6e0f4;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
}

.app {
  background: rgb(191, 155, 191);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

.search-form-input {
  background-color: #e6e0f4;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(125, 30, 149);
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: rgb(209, 201, 201);
  font-size: 16px;
}

.weather-app-city {
  margin: none;
  font-size: 38px;
  line-height: 40px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-details {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}
.weather-app-details strong {
  color: rgb(87, 61, 108);
}

.temp-container {
  display: flex;
}
#icon {
  width: 88px;
  height: 88px;
  margin-top: 15px;
}

.temp-value {
  font-size: 40px;
  margin-top: 22px;
}

.temp-unit {
  font-size: 27px;
  margin-top: 25px;
}

.weather-forecast {
  margin-top: 20px;
  display: flex;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-icon {
  width: 90px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  font-size: 13px;
  padding: 10 10 10 0px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.shecodes-img {
  width: 88px;
}
